body {
  background-color: #cc6600;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h2 {
    color: white;
    text-align: center;  
}
p {
    color: white;
    text-align: center;
}
table {
    border-collapse: collapse;
}
td, th {
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffa64d;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #663300;
    color: white;
}