body {
  background-color: #cc6600;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

table {
    border-collapse: collapse;
}
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
td, th {
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #ffa64d;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #663300;
    color: white;
}

img.center {
    display: block;
    margin: 0 auto;
}